*.swp
db_scripts/
.pytest_cache/
logs/
images/
.env
.ipynb_checkpoints
*/.ipynb_checkpoints
*.ipynb
.cache
*.db-journal
*.db
step_by_step.txt
*/__pycache__
__pycache__
apexis_journal.txt

apexis-app/.gitignore 
node_modules/

.expo/
dist/
web-build/
expo-env.d.ts

.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

.metro-health-check*

npm-debug.*
yarn-debug.*
yarn-error.*

.DS_Store
*.pem

.env*.local

*.tsbuildinfo
/ios
/android
